@import './common/common.css';
@import './common/vars.css';
@import './component/_nav.css';
:root{
    --icon: {
        display:block;
        width:40px;
        height:40px;
  }
}
.layout a {
    transition: all .5s;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: var(--bg-color);
    }
}

.layout {
    width: 600px;
    /* width: 75rem; */
    margin: 0 auto;
    font: normal 14px/18px microsoft yahei;
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}
/*设置logo*/
.logo{
    width:235px;
    height: 59px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: image-set(url(../images/news-logo.png) 1x,
                                url(../images/news-logox2.png) 2x);

}
.box1 {
    width: 400px;
    border: 1px solid #dedede;
    border-radius: 10px;
    background: #fff;
    & ul{
       display: flex; 
       & li{
            flex: 1;
            
        }
    }
}
.box2{
    width: 400px;
    & ul{
        display: flex;
        & li{
            flex: 1;
            width: 60Px;
            height: 60Px;
            background: var(--bg-color);
            border-radius: 8px;
            &:nth-child(1){
                & span{ 
                   background-image: url(../images/sprites/icon1.png); 
                }
            }
            &:nth-child(2){
                & span{
                   background-image: url(../images/sprites/icon2.png); 
                }
            }
            &:nth-child(3){
                & span{
                   background-image: url(../images/sprites/icon3.png); 
                }
            }
            & span{
                display:block;
                width:40Px;
                height:40Px;
               background-repeat: no-repeat;
               

                
            }
        }

    }
}
  @define-mixin animaton $aniName,$from, $to {
    @keyframes $(aniName){
        from {
            margin-left:$from;
        }
        to {
            margin-left: $to;
        }
    }
} 
@mixin animaton mymove1,0,100px;

.animi-box1{
  width:50px;
  height:20px;
  background:#f2f2f2;
  margin-top:10px;
  animation:mymove1 5s infinite;
}  